.sidebar {
    float: left;
    width: 20%; 
  }
  
  .main-content {
    float: left;
    width: 80%; 
    }
  
  .clear {
    clear: both;
  }
  .container {
    width: 75%;
    float: none;
  }

  
  .dropdown-container {
    position: relative;
    display: inline-block; 
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%; /* Ubica el menú debajo del botón */
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #ddd;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-toggle:hover {
    background-color: #000000;
    color: #ffffff;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }


  .form_main {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  }
  
  .heading {
    font-size: 2.5em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 15px 0 30px 0;
  }
  
  .inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputIcon {
    position: absolute;
    left: 10px;
  }
  
  .inputField {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-radius: 30px;
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
  }
  
  .inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
  }
  
  #button {
    position: relative;
    width: 100%;
    border: 2px solid #44090c;
    background-color: #a7747c;
    height: 40px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
  }
  
  #button::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: .5s;
  }
  
  #button:hover::after {
    transform: translateX(600px);
    transition-duration: .5s;
  }
  
  .signupContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .signupContainer p {
    font-size: .9em;
    font-weight: 500;
    color: black;
  }
  
  .signupContainer a {
    font-size: .7em;
    font-weight: 500;
    background-color: #2e2e2e;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
  }
  
  table {
    border: 1px solid #FFFFFF;
    width: 350px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  table tbody td {
    font-size: 13px;
  }
  table tr:nth-child(even) {
    background: #a7747c;
  }
  table thead {
    background: #44090C;
    background: -moz-linear-gradient(top, #734649 0%, #562124 66%, #44090C 100%);
    background: -webkit-linear-gradient(top, #734649 0%, #562124 66%, #44090C 100%);
    background: linear-gradient(to bottom, #734649 0%, #562124 66%, #44090C 100%);
    border-bottom: 5px solid #FFFFFF;
  }
  table thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  table thead th:first-child {
    border-left: none;
  }
  
  table tfoot td {
    font-size: 14px;
  }

/* Sidebar */
#mySidebar {
  height: 100vh;
  width: 180px; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #f1f1f1; 
  overflow-x: hidden; 
  padding-top: 20px;
  border-right: 3px solid #a7747c;
  padding: 10px;
}

#mySidebar a {
  color: #333;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

#mySidebar a:hover {
  background-color: #a7747c;
}

#main {
  margin-left: 160px; 
  padding: 0px 10px;
}

@media (max-width: 767px) {
  #mySidebar {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  #mySidebar a {float: left;}
  #main {
    margin-left: 0;
  }
}

@media screen and (max-height: 450px) {
  #mySidebar {padding-top: 15px;}
  #mySidebar a {font-size: 18px;}
}